* {
	
	padding: 0;
	margin: 0;
	border: 0;
}


body {
	background: black;
}

#startscreen, #finishscreen {
	position: absolute;
	top: 30px;
	left: 30px;
	/*border: 1px solid white;*/
	width: 800px;
	height: 300px;
}

.message {
	margin-top: 120px;
	text-align: center;
	font-family: monospace;
	font-size: 24px;
	color: white;
}

#finishscreen .message {
	margin-top: 90px;
}

#finishscreen .message.winner {
	margin-top: 25px;
	font-size: 50px;
}

.qr {
	position: absolute;
	top: 0;
}
.qr.one {
	left: 0;
}
.qr.two {
	right: 0;
}

#field {
	position: absolute;
	top: 30px;
	left: 30px;
	/*border: 1px solid black;*/
	/*background: white;*/
	background: black;
}

#net {
	position: absolute;
	height: 100%;
	border-style: dashed;
	border-color: white;
}

.pad {
	position: absolute;
	background: white;
	width: 15px;
	height: 10%;
}

.pad.one {
	/*background: red;*/
	left: 0;
	top: 0;
	width: 1%
	height: 100%;
	border: 

}

.pad.two {
	/*background: blue;*/
	right: 0;
}

#ball {
	position: absolute;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 30%;
	background: white;
}

#score {
	position: absolute;
	bottom: -40px;
	left: 50%;
	height: 20px;
	background: green;
}
#score > div {
	position: absolute;
	top: 0;
	color: white;
	font-family: monospace;
	font-size: 40px;
}
#score > div.one {
	right: 45px;
}
#score > div.two {
	left: 45px;
}


/** effects n' stuff n' shizzle */
.glow {
	box-shadow: 5px 0 0 rgba(255, 255, 255, 0.3);
}
